
.alpha {
  font-family: "Inter", sans-serif;
  background-color: #fbd7e3;
  text-align: center;
  color: #fcdde8;
  font-size: calc(1em + 10vw);
  font-weight: 700;
  text-shadow: -0.0075em 0.0075em 0 #fef2f6, 0.005em 0.005em 0 #f6a5c1, 0.01em 0.01em 0 #f7aac4, 0.015em 0.015em #f7aec7, 0.02em 0.02em 0 #f8b3ca, 0.025em 0.025em 0 #f8b7cd, 0.03em 0.03em 0 #f8bcd0, 0.035em 0.035em 0 #f9c0d3;

}


.beta {
  font-size: 14rem;
  text-align: center;
  height:50vh;
  line-height: 50vh;
  color: #fcedd8;
  background: #d52e3f;
   font-family: 'Niconne', cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b, 
              35px 35px 0px #c11a2b, 
              40px 40px 0px #c11a2b, 
              45px 45px 0px #c11a2b;
}

.gamma{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background: yellow;
  text-align: center;
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #ff1f8f,
						20px 20px #000000;
}


section {
  text-align: center;
  padding: .5em;
  margin-top: 4em;
}

span {
  margin: .5em;
  padding: .5em;
  border-style: dotted;
  border-width: 1px;
  border-radius: 20px;
}

span:active {
  color:#017e7f;
}