@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        /*Tokens*/
        --clr-black: hsl(0 0 0%);
        --clr-blue: hsl(0 0 255%);
        --clr-white: hsl(255 255 255);

        /*Contextualisation*/
        --clr-bg: var(--clr-blue);
        --clr-text: var(--clr-white);
    }

    .dark{
        --clr-bg: var(--clr-white);
        --clr-text: var(--clr-black);
    }
}