$colors:(
    neutral: (
        100: #fff,
        900: #1f3049,
    ),

    primary: (
        400: #0066ff
    )
);

$darkcolors:(
    neutral: (
        100: #0066ff,
        900: #1f3049,
    ),

    primary: (
        400: #fff
    )
);

:root {
    @each $category, $values in $colors {
        @each $key, $value in $values {
            --color-#{$category}-#{$key}: #{$value};
        }
    }
    @each $category, $values in $darkcolors {
        @each $key, $value in $values {
            --color-dark-#{$category}-#{$key}: #{$value};
        }
    }
}
