@use "../abstracts/colors" as *;
@use "../abstracts/mixin" as *;
@use "../abstracts/typo" as *;

.card{
    position: relative;
    font-size: map-get(map-get($fs, S), 500);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 100%;
    font-weight: map-get($fw, 400);
    border: 2px map-get($colors, grey) solid;
    border-radius: 0.5rem;

    &__title{
        color: map-get($colors, black);
        font-size: map-get(map-get($fs, S), 700);
        font-weight: map-get($fw, 800);
    }

    &__description{
        color: map-get($colors, grey);
    }

    &__price{
        display: flex;
        align-items: center;
        background-color: map-get($colors, light-grey);
        color: map-get($colors, grey);
        border-radius: 0.5rem;
        font-weight: map-get($fw, 700);
        padding: 1rem;

        span{
            color: map-get($colors, black);
            font-size: map-get(map-get($fs, S), 800);
            font-weight: map-get($fw, 800);
            padding: 0 0.5rem;
        }
    }

    &__list{
        list-style: none;
        padding: 0;
        padding-bottom: 5rem;
        margin: 0;

        &-item{
            padding: 1rem;
            color: map-get($colors, black);
            font-weight: map-get($fw, 500);
        }
    }

}

@include respond-to(mobile) {
    .card{
        margin-bottom: 2rem;
    }
}