@use "../abstracts/colors" as *;
@use "../abstracts/mixin" as *;
@use "../abstracts/typo" as *;

body{
    font-family: map-get($ff, sans);   
}

.header{
    padding-bottom: 3rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@include respond-to(mobile) {
    .container{
        flex-direction: column;
    }
}
  